.header{
  height: 70px;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(215, 212, 212);
  z-index: 100;
}

.left-section{
  width:200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}
.hamburger{
  width: 24px;
  height: 24px;
}
.yt-logo{
  width: 90px;
  height: 20px;
}
.middle-section{
  display: flex;
  flex: 1;
  margin-left: 70px;
  margin-right: 40px;
  max-width: 550px;
  align-items: center;
  justify-content: space-between;
}
.search-bar{
  display: flex;
  flex: 1;
  font-size: 20px;
  border-radius: 3px;
  border-color: grey;
  border-style: solid;
  border-width: thin;
  padding-left: 15px;
  box-shadow: inset 2px 2px 2px rgb(0,0,0,0.05);
  height: 36px;
  width: 300px;
  width: 0;
} 
.search{
  height: 39px;
  width: 60px;
  border-color: grey;
  border-width: thin;
  border-style: solid;
  background-color: rgb(239, 234, 234);
  margin-left: -5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.voice-search{
  height: 40px;
  width: 40px;
  border: none;
  margin-left: 10px;
  border-radius: 40px;
  background-color: rgb(241, 235, 235);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .tooltip, .voice-search .tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  bottom: -60px;
  padding: 8px 8px;
  white-space: nowrap;
  font-style: Roboto, Arial;
}
.upload .tooltip, .apps .tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  bottom: -45px;
  padding: 8px 8px;
  white-space: nowrap;
  font-style: Roboto, Arial;
}
.notif .tooltip{
  position: absolute;
  background-color: grey;
  color: white;
  border-radius: 2px;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  bottom: -60px;
  padding: 8px 8px;
  white-space: nowrap;  
  font-style: Roboto, Arial;
}
.search:hover .tooltip, .voice-search:hover .tooltip, .upload:hover .tooltip, .apps:hover .tooltip{
  opacity: 1;
}
.notif:hover .tooltip{
  opacity: 1;
  left: -35px;
}
.search-icon{
  width: 30px;
  height: 27px;
}
.right-section{
  width: 250px;
  display: flex;
  justify-content: space-evenly;
  flex-shrink: 0;
}
.upload-icon,.apps-icon,
.notif-icon,.channel-logo{
  height: 30px;
  width: 30px;
  border: none;
}
.channel-logo{
  border-radius: 20px;
}
.upload,.apps,.notif,.mychannel{
  border: none;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.notif-container{
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.notifs-count{
  position: absolute;
  background-color: rgb(200,0,0);
  color: white;
  top: -3px;
  right: -3px;
  border-radius: 10px;
  padding: 2px 6px;
  font-family: Roboto, Arial;
  font-size: 12px;
}
