.side-bar{
  background-color: white;
  position: fixed;
  width: 90px;
  left: 0;
  bottom: 0;
  top: 70px;
  z-index:200;
}
.sidebar-link{
  height: 80.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: lightgray;
}
.home-icon, .explore-icon, .sub-icon, .orig-icon, .music-icon, .library-icon{
  height: 30px; 
  margin-bottom: 4px;
}
.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 12px;
}