a{
  text-decoration: none;
}
.thumbnail{
  width: 100%;
}

.vid-title{
  margin-top: 0px;
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.vid-auth{
  display: block;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 14px;
  color: rgba(45, 41, 41, 0.824);
}
.vid-stats{
  margin-top: 0px;
  color: rgba(45, 41, 41, 0.824);
  font-size: small;
}

.cont2{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.vid-info{
  margin-left: 16px;
}
.pfp{
  width: 100%;
  border-radius: 25px;
}
.cont1{
  margin-bottom: 15px;
  position: relative;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  padding: 0px 30px;
  background-color: rgb(248,248,248);
}
@media (max-width: 800px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 751px) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 5px;
  font-family: Roboto, Arial;
  font-weight: 500;
  padding: 4px 4px;
  border-radius: 2px;
}

